@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-grey: #1d282a;
    --light-clr: #f5f2ef;
    --grey: #e9e3db;
    --main-font-clr: #2e2e2e;
    --light-blue: #18c9ff;
    --blue: #004d9d;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6em;
    background-color: var(--light-clr);
    color: var(--main-font-clr);
}

/*---------TYPOGRAPHY---------*/

h1 {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 50px;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.26);
}
h2 {
    font-size: 1.4rem;
    line-height: 1.3em;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.2rem;
    line-height: 1.3em;
    margin-bottom: 20px;
}
header p {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 300;
}
.header-price strong {
    font-size: 2rem;
    font-weight: 700;
    color: var(--light-blue);
}
.main-content strong {
    font-size: 20px;
    font-weight: 800;
    color: var(--dark-blue);
    margin-left: 20px;
}
hr {
    border: 0;
    height: 1px;
    background: rgb(107, 107, 107);
    background-image: linear-gradient(to right, #ccc, rgb(146, 146, 146), #ccc);
    margin-bottom: 20px;
}

@media only screen and (min-width: 500px) {
    h1 {
        font-size: 3rem;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.336);
        line-height: 4rem;
    }
}

@media only screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.459);
        line-height: 5rem;
    }
    h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
}



/*---------HEADER---------*/

.main-header {
    background:  linear-gradient(to bottom, rgba(29, 40, 42, 0), rgb(29, 40, 42)), url(../img/egenreklame.jpg) var(--blue);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    color: white;
    display: grid;
    grid-template-rows: 0.4fr 2fr 0.6fr;
    grid-template-columns: 1fr;
    align-items: end;
    justify-items: center;
    flex-direction: column;
    position: relative;
}

.logo {
    width: 100%;
    padding-bottom: 60px;
    padding-top: 20px;
}
.logo img {
    width: 120px;
}

.heading {
    padding: 70px 30px;
    max-width: 800px;
}
.header-price {
    padding-bottom: 20px;
}


@media only screen and (min-width: 600px) {
    .main-header {
        min-height: 100vh;
    }
    .heading {
        max-width: 1000px;
    }
    .header-price {
        padding-bottom: 100px;
    }
    .header-price p {
        font-size: 1.6rem;
        font-weight: 300;
    }
    .logo img {
        width: 180px;
    }
}

/*---------MAIN---------*/

main {
    padding: 60px 20px;
    background-color: var(--light-clr);
    max-width: 400px;
}
.main-content-box {
    padding-bottom: 40px;
}

@media only screen and (min-width: 600px) {
    main {
        max-width: 1000px;
        padding: 100px 40px;
    }
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        row-gap: 40px;
    }
}

/*---------CARD---------*/

.card {
}
.card-header {
    background:  linear-gradient(to bottom, rgba(29, 40, 42, 0), rgb(29, 40, 42)), url(../img/egenreklame2.jpg) var(--blue);
    /* background-attachment: fixed; */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 400px;
}
.card-text h2 {
    font-size: 2.4rem;
    padding-bottom: 10px;
}
.card-text-container {
    padding: 40px;
    background: var(--grey);
}
.card-text {
    max-width: 300px;

}
.card-text p {
    padding-bottom: 10px;
}

@media only screen and (min-width: 600px) {
    .card {
        
    }
    .card-header {
        background:  linear-gradient(to bottom, rgba(29, 40, 42, 0), rgba(29, 40, 42, 0)), url(../img/egenreklame2.jpg) var(--blue);
        /* background-attachment: fixed; */
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        max-width: 1000px;
        min-height: 400px;
    }
    .card-text-container {
        align-items: center;
        justify-content: center;
        padding: 40px 40px 80px 40px;
        max-width: 1000px
    }
    .card-text {
        max-width: 600px;
    }
    .card-text button {
        font-size: 1.2rem;
        margin-top: 10px;
    }
}

/*---------EXAMPLE---------*/

.example {
    padding: 60px 20px;
}
.example-text-container {
    max-width: 400px;
}
.example-text {
    padding-bottom: 40px;
}
.example h2 {
    max-width: 400px;
    font-size: 1.8rem;
    margin-bottom: 40px;
}

@media only screen and (min-width: 600px) {
    .example {
        padding: 100px 20px;
    }
    .example-text-container {
        max-width: 600px;
    }

    .example h2 {
        margin-bottom: 40px;
        font-size: 2rem;
    }
    .example h2 {
        text-align: center;
        max-width: 1000px;
        margin-bottom: 60px;
    }
}


/*---------FOOTER---------*/

footer {
    margin-top: 20px;
    background-color: var(--dark-grey);
    line-height: 1.8em;
    letter-spacing: 0.5px;
    color: var(--light-clr);
    padding: 60px 20px;
}

.footer-items {
    /* display: flex;
    flex-direction: column; */
    max-width: 400px;
}

.footer-logo {
    width: 120px;
    margin-bottom: 30px;
}

footer a {
    text-decoration: none;
    color: var(--light-clr);
    color: var(--light-clr);
}

.footer-text {
    margin-bottom: 40px;
}
footer p {
    font-weight: 200;
}
footer a {
    color: var(--light-blue);
    font-weight: 500;
}

@media only screen and (min-width: 600px) {
    footer {
        padding: 60px 0px;
    }
    .footer-items {
        max-width: 600px;
    }
}

/*---------BUTTON---------*/

button {
    text-decoration: none;
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
}

button:hover {
    background-color: var(--light-blue);
}